.main-page {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*gap: 2rem;*/
    align-items: center;
    font-size: 30px;
}
.main-page li {
    margin-bottom: 20px;
}

.header {
    color: black;
    font-style: revert;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /*margin-bottom: 50px;*/
}

.navbar {
    background-color: purple;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 30px;;
}

.nav-links a:hover {
    color: lightgray;
}
.list-button {
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}


